/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.scss';

.root {

}

.boardcontainer {
   border: 1px solid #DDDDDD;
   width: 200px;
   height: 200px;
   position: relative;
}